<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer AI</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            
        }
        .iframe-container {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        iframe {
            width: 100vw;
            height: 100vh;
            border: none;
        }
    </style>
</head>
<body>
    <div class="iframe-container">
        <iframe src="https://app.relevanceai.com/agents/d7b62b/13068fc03f1f-4494-8f02-1382118b84ee/81aac302-b368-4b00-a4c3-49c30ecaa4f8/share?hide_tool_steps=false&hide_file_uploads=false&hide_conversation_list=false&bubble_style=agent&primary_color=%23685FFF&bubble_icon=pd%2Fchat&input_placeholder_text=Type+your+message...&hide_logo=false&hide_description=false" allow="microphone"></iframe>
    </div>
</body>
</html> 